.mw-parsermigration-sxs {
	width: 100%;
	border-collapse: collapse;
}

.mw-parsermigration-left {
	width: 50%;
	overflow: scroll;
	border-right: thin solid #ccc;
	vertical-align: top;
}

.mw-parsermigration-right {
	padding-left: 0.4em;
	vertical-align: top;
}

.mw-parsermigration-sxs > tbody > tr > th {
	border-bottom: thin solid #ccc;
}

.mw-parsermigration-sxs > tbody > tr > th:first-child {
	border-right: thin solid #ccc;
}
